<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>recibir_SA</servlet-name>
        <servlet-class>controladores.recibir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar</servlet-name>
        <servlet-class>controladores.mostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificar_SA</servlet-name>
        <servlet-class>controladores.modificar_SA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar_CA</servlet-name>
        <servlet-class>controladores.mostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_CA</servlet-name>
        <servlet-class>controladores.eliminarHB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modificar_SA</servlet-name>
        <servlet-class>controladores.modificarHB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar</servlet-name>
        <servlet-class>controladores.ActualizarHB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>controladores.edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar_CA</servlet-name>
        <servlet-class>controladores.eliminar_CA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recibir</servlet-name>
        <servlet-class>controladores.recibir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrar</servlet-name>
        <servlet-class>controladores.mostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarHB</servlet-name>
        <servlet-class>controladores.modificarHB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarHB</servlet-name>
        <servlet-class>controladores.eliminarHB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarHB</servlet-name>
        <servlet-class>controladores.actualizarHB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>recibir_SA</servlet-name>
        <url-pattern>/recibir_SA.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar</servlet-name>
        <url-pattern>/mostrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificar_SA</servlet-name>
        <url-pattern>/modificar_SA.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar_CA</servlet-name>
        <url-pattern>/Mostrar_CA.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_CA</servlet-name>
        <url-pattern>/Delete_CA.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modificar_SA</servlet-name>
        <url-pattern>/Modificar_SA.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar</servlet-name>
        <url-pattern>/Actualizar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar_CA</servlet-name>
        <url-pattern>/eliminar_CA.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recibir</servlet-name>
        <url-pattern>/recibir.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrar</servlet-name>
        <url-pattern>/mostra.dor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarHB</servlet-name>
        <url-pattern>/modificarHB.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarHB</servlet-name>
        <url-pattern>/eliminarHB.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarHB</servlet-name>
        <url-pattern>/actualizarHB.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
